:root {
  --sz: 100%;
  --svh: 100svh;
  --pd: 1.125rem;
  --rd: .5lh;
  --wd: 6rem;
  --unit: 5;
  --fnt-sz: calc(var(--pd) * var(--unit) / 3);
  --fnt-orbitron: 'Orbitron', sans-serif;
  --fnt-play: 'Play', sans-serif;
  --light-gray-color: hsl(70, 7%, 83%);
  --mid-light-gray-color: hsl(60, 8%, 77%);
  --dark-gray-color: hsl(109, 4%, 50%);
  --light-orange-color: hsl(34, 82%, 59%);
  --dark-orange-color: hsl(21, 95%, 41%);
  --light-color: hsl(0, 0%, 100%);
  --red-color: hsl(9, 86%, 42%);
}

*,
*::before,
*::after { box-sizing: border-box; }

:where(html, body) { margin: 0; }
:where(.container, .calculator, .keys--container) {
  display: grid;
  place-items: center;
}
:where(.display--container, .key) {
  display: flex;
  align-items: center
}
:where(.title, .mirror, .prev--value, .current--value) { position: absolute; }
:where(.display, .mirror) {
  width: calc(var(--wd) * 3.025);
  height: calc(var(--wd) * .75)
}
:where(.display, .display--container, .keys--container) { position: relative; }

.container { height: var(--svh); }

.calculator {
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr;
  width: calc(var(--wd) * 3.75);
  height: calc(var(--wd) * 6.25);
  position: relative;
  background-image: linear-gradient(
    90deg,
    var(--mid-light-gray-color),
    var(--light-gray-color)
  );
  border: .15vmin solid var(--dark-gray-color);
  border-radius: calc(var(--rd) * .5);
  box-shadow: .25vmin .25vmin .5rem 0 rgba(0, 0, 0, .5),
    1vmin 1vmin .75rem var(--dark-gray-color) inset,
    -1vmin 0 1rem var(--mid-light-gray-color) inset;
  .display,
  .keys--container { grid-column: span 2 }
  .display--container {
    grid-row: 1;
    .display {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      padding-inline-end: var(--pd);
      border: none;
      background-image: linear-gradient(
        45deg,
        hsl(0, 33%, 1%),
        hsl(150, 100%, 6%)
      );
      overflow: hidden;
      .prev--value,
      .current--value { right: 1rem; }
      .prev--value {
        margin-block-start: calc(var(--pd) * .25); 
        color: var(--light-color);
        font: 500 calc(var(--fnt-sz) * .6) var(--fnt-play); 
      }
      .current--value {
        grid-row: 2;
        color: var(--light-orange-color);
        font: 700 calc(var(--fnt-sz) * .85) var(--fnt-orbitron);
      }
    }
    .mirror {
      top: 0;
      left: 0;
      background-image: linear-gradient(
        45deg,
        hsla(0, 5%, 43%, .5) 0%,
        hsla(0, 25%, 35%, .5) 40%,
        hsla(0, 8%, 25%, .25) 80%,
        hsla(0, 35%, 9%, .4) 100%
      );
      filter: blur(.2rem)
    }
  }
  .keys--container {
    grid-row: 2;
    grid-template-columns: repeat(4, 1fr);
    width: calc(var(--wd) * 3);
    height: calc(var(--wd) * 4.5);
    border: .1lh solid var(--dark-gray-color);
    border-radius: calc(var(--rd) * .7);
    background-image: linear-gradient(
      45deg,
      hsl(0, 36%, 4%) 0%,
      hsl(0, 25%, 2%) 8%,
      hsl(0, 25%, 2%) 92%,
      hsl(0, 36%, 4%) 100%
    );
    box-shadow: 0 0 0 .25vmin var(--light-gray-color) inset, 0 0 .25vmin 0 var(--dark-gray-color);
    .key {
      justify-content: center;
      width: calc(var(--wd) * .68);
      height: calc(var(--wd) * .68);
      border-radius: calc(var(--rd) * .8);
      border: none;
      cursor: pointer;
      transition: transform 350ms cubic-bezier(.3, .7, .4, 1);
      box-shadow: -.25vmin -1vmin .5rem hsla(0, 0%, 0%, 0.5) inset, .25vmin -.25vmin .5rem hsla(90, 29%, 3%, .5) inset, -.15vmin -.15vmin .7rem hsla(0, 33%, 98%, 0.25) inset;
      .front {
        font: 200 calc(var(--fnt-sz) * .75) var(--fnt-orbitron);
        text-transform: uppercase;
        will-change: transform;
        transform: translateY(-.125em);
        transition: transform 600ms cubic-bezier(.3, .7, .4, 1.5);
      }
      &:active { 
        transform: scale(.99);
        box-shadow: -.23vmin -.95vmin .45rem hsla(0, 0%, 0%, 0.45) inset, .23vmin -.23vmin .45rem hsla(90, 29%, 3%, .45) inset, -.12vmin -.12vmin .7rem hsla(0, 33%, 98%, 0.25) inset;
      }
      &:active .front {
        transform: translateY(-.0625em);
        transition: transform 35ms
      }
      &:focus:not(:focus-visible) { outline: none; }
      &.orange--btn {
        background-image: linear-gradient(
          45deg,
          var(--dark-orange-color) 0%,
          var(--light-orange-color) 50%,
          hsl(37, 92%, 64%) 100%
        );
        color: var(--light-color);
      }
      &.dark--gray__btn {
        background-color: var(--dark-gray-color);
        color: var(--light-color);
      }
      &.light--gray__btn {
        background-color: var(--light-gray-color);
        color: var(--dark-gray-color)
      }
      &.red--btn { 
        background-color: var(--red-color);
        &.power--on { background-color: hsl(103, 82%, 48%)}
      }
      &:first-child { grid-column: 1; }
      &:first-child,
      &:nth-child(22) {
        grid-row: 1
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) { grid-row: 2; }

      &:nth-child(6),
      &:nth-child(9),
      &:nth-child(12),
      &:nth-child(15) { grid-column: 1;}

      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(17) { grid-row: 3; }

      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(18) { grid-row: 4; }

      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(19) { grid-row: 5; }

      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(20),
      &:nth-child(21) { grid-row: 6; }

      &:nth-child(17),
      &:nth-child(18),
      &:nth-child(19),
      &:nth-child(20) { grid-column: 4}
      &:nth-child(22) { 
        grid-column: 2 / 4;
        width: var(--sz)
      }
    }
  }
}